<!DOCTYPE html>
<html>
  <head>
    <title>StimulusExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Hello", example_hello_path %></li>
      <li><%= link_to "Clipboard", example_clipboard_path %></li>
      <li><%= link_to "ContentLoader", example_content_loader_path %></li>
      <li><%= link_to "Slideshow", example_slideshow_path %></li>
    </ul>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
